<style type=text/css>
counter-reset: my-sec-counter;
    color: #333;
    font-family: 'Gotham-Book';

}
body {

    
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    color: #141313;

}
body {

    background-color: #fff;
    background-image: url();
    background-repeat: ;

}
body {

    
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;

}
body {

    margin: 0;

}
* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
html {

    font-size: 10px;

}
