*,
    *::before,
        *:after{
            
            box-sizing:border-box;
            
        }
        *:focus{
            
            outline: none;
            
        }
        body{
            
            padding: 0;
            margin 0;
            background: #000;
            color: white;
            font-family: "Oxygen", sans-serif;
            overflow-y: hidden;
               
   
        
